<nav class="navbar navbar-dark bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Team Career Camp</a>
      <%if(locals.user){%>
      <div class="d-flex">
        <a href="/users/sign-out" class="btn btn-warning">SignOut</a>
        <a href="" class="btn btn-warning ms-3"><%= user.name %></a>
      </div>
      <%}else{%>
      <div class="d-flex justify-content-around">
        <a href="/users/sign-in" class="btn btn-warning">SignIn</a>
        <a href="/users/sign-up" class="btn btn-warning ms-3">SignUp</a>
      </div>
      <%}%>
    </div>
  </nav>
  